.about-project {
    margin-bottom: 200px;
}

.about-project-content-title {
    color: #C8FA05;
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 25px;
}


.about-project-content-desc {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}


.project-list-item-img {
    flex: 0 0 10%;
    position: relative;
}

.about-project-list-item {
    display: flex;
    gap: 50px;
    align-items: center;
}


.project-list-item-text-title {
    color: #C8FA05;
    font-family: Inter;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}


.project-list-item-text-main {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}


.about-project-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.about-project-list-item .project-list-item-img img {
    width: 50px;
    height: 50px;
}

.about-project-list-item:nth-child(3) .project-list-item-img img {
    width: 50px;
    height: 50px;
}

.project-list-item-img::before {
    content: "";
    position: absolute;
    top: -13px;
    z-index: -1;
    left: -10px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #C8FA05;
}


.palette {
    margin-bottom: 70px;
}

.palette-content {
    text-align: center;
}

.palette-content-title {
    color: #FFF;
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 30px;
}


.palette-color-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}


.palette-color {
    max-width: 300px;
    width: 100%;
    height: 33px;
}


.palette-color-green {
    background: #C8FA05;
}

.palette-color-white {
    background: #D9D9D9;
}


.project-role {
    margin-bottom: 200px;
}


.diagram-title {
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
}

.diagram-title span {
    color: #595959;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.project-role-title {
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-bottom: 100px;
}


.project-role-title span {
    color: #595959;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}


.project-role-card-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}


.project-card-role {
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
}


.project-role-card {
    border-radius: 10px;
    border: 1px solid #FFF;
    height: 470px;
}

.project-role-card-content {
    padding: 40px 30px;
    text-align: center;
}


.project-card-role-possibilities-title {
    color: #C8FA05;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}


.project-card-role-possibilities-list {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.project-card-role-possibilities-item {
    margin-bottom: 20px;
    max-width: 274px;
}


.project-card-role-possibilities-item:last-child {
    margin-bottom: 0;
}



.diagram {
    text-align: center;
}



@media (max-width:500px) {

    .about-project-list-item {
        position: relative;
    }
    .project-list-item-img {
        position: absolute;
        top: -10px;
        right: 5px;
    }
}